# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
saves
logs
crash-reports
config

usernamecache.json
options.txt
forge-1.12.2-14.23.3.2655-changelog.txt
README.txt
Paulscode SoundSystem CodecIBXM License.txt
Paulscode IBXM Library License.txt
MinecraftForge-Credits.txt
LICENSE-new.txt
CREDITS-fml.txt
usercache.json
